body{
  text-align: center;
}

.card{
  width:260px;
  margin: 0 auto;
}

.row{
  padding: 20px;
}

.greenBackground{
  background-color:lightgreen;
}

.yellowBackground{
  background-color:yellow;
}

.redBackground{
  background-color:red;

}

.cat-chat{
  background-color:lightgreen;
  border-radius: 20px;
  margin-right: 200px}

.dog-blog{
  background-color: lightblue;
  border-radius: 20px;
  margin-left: 200px
}
